---
import PageHeading from "../components/page-heading.astro";
import PostsLoop from "../components/posts-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Bài viết của tôi">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Bài viết của tôi"
      description="Đọc những bài viết của tôi về cuộc sống và công nghệ; một sự kết hợp giữa tự nhận thức và sáng tạo. Hãy theo dõi để cập nhật những bài viết mới nhất!"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsLoop count="999999999" />
    </div>
  </section>
</Layout>
